* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #15133c;
  color: #fff !important;
}

header {
  padding: 20px;
  border-bottom: 3px solid #fff;
  text-align: center;
}

#rules {
  position: absolute;
  width: 100vw;
  overflow: hidden;
  height: 0;
  background-color: #00000050;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

#rules .main-grid {
  background-color: #15133c;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#rules .main-grid .howToPlay {
  padding: 47px 50px;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#rules .main-grid .howToPlay h3 {
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
}

#rules .main-grid .howToPlay ul {
  padding-top: 15px;
}

#rules .main-grid .howToPlay ul li {
  list-style: inside;
  padding: 10px 0 0;
}

#rules img {
  max-height: 80vh;
}

#rules footer {
  padding: 20px 0 0;
}

#rules footer a {
  color: #5fc5ba;
}

#rules footer h6 {
  font-size: 16px;
  margin-bottom: 10px;
  border-bottom: 2px solid;
  padding-bottom: 7px;
  display: inline-block;
  margin-top: 10px;
}

#rules.full {
  height: 100vh;
}

.main--wrapper {
  max-width: 1800px;
  margin: 0 auto;
}

.scoreTotal {
  margin-top: 20px;
  margin-bottom: -30px;
}

.scoreTotal h1 {
  font-size: calc(20px + 2vw);
}

.btn-main {
  background-color: transparent;
  padding: 10px 35px;
  border: 2px solid #fff;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 27px;
  font-weight: bold;
  margin: 40px auto 10px;
}

.main-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.center {
  text-align: center;
}

.player--options {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  border-left: 2px solid #fff;
}

.player--options div > span {
  width: 100px;
  height: 100px;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  justify-items: center;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 10px;
}

.player--options div > span::after {
  padding: 5px 0;
  width: 0;
  overflow: hidden;
  border-radius: 4px;
  border-top: 2px solid #5fc5ba;
  border-bottom: 2px solid #5fc5ba;
  color: #5fc5ba;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: .4s;
  transition: .4s;
  text-align: center;
  background-color: #15133c;
}

.player--options div > span:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.5) !important;
          transform: scale(1.5) !important;
  opacity: 1 !important;
}

.player--options div > span:hover::after {
  width: 100px !important;
}

.player--options div > span:active {
  -webkit-transform: scale(1.8) !important;
          transform: scale(1.8) !important;
  padding: 0;
}

.player--options .inner-player--option:hover span {
  opacity: .7;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  padding: 10px;
}

span#rock,
.h#rock,
.p#rock {
  background-image: url("/images/rock.png");
}

span#paper,
.h#paper,
.p#paper {
  background-image: url("/images/paper.png");
}

span#scissor,
.h#scissor,
.p#scissor {
  background-image: url("/images/scissors.png");
}

span#lizard,
.h#lizard,
.p#lizard {
  background-image: url("/images/lizard.png");
}

span#spock,
.h#spock,
.p#spock {
  background-image: url("/images/spock.png");
}

.h#rock,
.p#rock {
  background-image: url("/images/rock-name.png");
}

.h#paper,
.p#paper {
  background-image: url("/images/paper-name.png");
}

.h#scissor,
.p#scissor {
  background-image: url("/images/scissor-name.png");
}

.h#lizard,
.p#lizard {
  background-image: url("/images/lizard-name.png");
}

.h#spock,
.p#spock {
  background-image: url("/images/spock-name.png");
}

.inner-player--option span#rock::after {
  content: "rock";
}

.inner-player--option span#paper::after {
  content: "paper";
}

.inner-player--option span#scissor::after {
  content: "scissor";
}

.inner-player--option span#lizard::after {
  content: "lizard";
}

.inner-player--option span#spock::after {
  content: "spock";
}

.h,
.p {
  width: 50%;
  max-width: 300px;
  height: 40vh;
  margin: 0 auto;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

h1 + span {
  font-size: 50px;
  font-weight: bold;
  padding: 12px 50px;
  display: block;
  border: 4px solid #ffffff50;
  display: inline-block;
  border-radius: 6px;
  margin-top: 20px;
}

h1 + span.win {
  background: #0192c0;
  border: transparent;
}
/*# sourceMappingURL=main.css.map */